* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #a01c19;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    height: 25rem;
    display: flex;
    flex-direction: column;
    border: 1px outset black;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 1rem;
}

.logo {
    height: 120px;
}

.title {
    color: black;
    text-align: center;
    flex: none;
    font-size: 3rem;
}

.menu a {
    text-decoration: none;
    color: black;
    margin-left: 20px;
    font-size: 1.2rem;
    border: 2px solid var(--main-color);
    padding: 5px 10px;
    border-radius: 5px;
}

.menu a:hover {
    background-color: var(--main-color);
    color: white;
}

/*intro*/
.intro {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-color: var(--main-color);
}

.intro h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.intro p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.resorknapp {
    color: white;
    background-color: black;
    padding: 10px 20px;
    border-radius: 5px;
}

.resorknapp:hover {
    background-color: #333;
}

/*kontakt*/

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.kontakt-container {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    flex-wrap: wrap;
    gap: 2rem;
}

/* Kontaktinfo */
.kontaktInfo {
    background-color: #f4f4f4;
    padding: 1.5rem;
    border-radius: 10px;
    max-width: 500px;
    flex: 1;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.inlägg {
    background-color: white;
    border: 2px solid var(--main-color);
    border-radius: 15px;
    padding: 1rem;
    max-width: 600px;
    margin: 2rem;
    display: flex;         
    gap: 1rem;
    margin-bottom: 1.5rem;

}

.inlägg-img {
    width: 180px;
    height: 90px;
    flex-shrink: 0;
}

/* “Kommentera” */
.inlägg-text {
    color: #888;
    border: black dashed 1px;
    margin: 10px;
    padding: 10px;
}

.inlägg-info {
    color: black;
}

.inlägg-views {
    font-size: 0.9rem;
    color: grey;
    text-align: right;
}

/*footer*/
footer {
    background-color: var(--main-color);
    color: white;
    text-align: center;
    padding: 1.5rem;
    font-size: 1rem;
    border: 1px dashed black;
}

.Snabblänk {
    padding: 1rem;
    text-align: center;
}

.Snabblänk h3 {
    margin-bottom: 10px;
    color: white;
}

.Snabblänk a {
    display: block;
    color: white;
    margin-bottom: 5px;
}

.Snabblänk a:hover {
    color: black;
}

@media (max-width: 768px) {

    nav {
        flex-direction: column;
        gap: 1rem;
    }

    .inlägg {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .inlägg-img {
        width: 100%;
        height: auto;
    }

    header {
        height: auto;
    }
}


