* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #a01c19;
}

body {
    font-family: Arial, sans-serif;
}

header {
    height: 25rem;
    display: flex;
    flex-direction: column;
    border: 1px outset black;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 1rem;
}

.logo {
    height: 120px;
}

.title {
    color: black;
    text-align: center;
    flex: none;
    font-size: 3rem;
}

.menu a {
    text-decoration: none;
    color: black;
    margin-left: 20px;
    font-size: 1.2rem;
    border: 2px solid var(--main-color);
    padding: 5px 10px;
    border-radius: 5px;
}

.menu a:hover {
    background-color: var(--main-color);
    color: white;
}

/*intro*/
.intro {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-color: var(--main-color);
}

.intro h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.intro p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.resorknapp {
    color: white;
    background-color: black;
    padding: 10px 20px;
    border-radius: 5px;
}

.resorknapp:hover {
    background-color: #333;
}

/*kontakt*/
