* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #a01c19;
}

body {
    font-family: Arial, sans-serif;
}

header {
    height: 25rem;
    display: flex;
    flex-direction: column;
    border: 1px outset black;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 1rem;
}

.logo {
    height: 120px;
}

.title {
    color: black;
    text-align: center;
    flex: none;
    font-size: 3rem;
}

.menu a {
    text-decoration: none;
    color: black;
    margin-left: 20px;
    font-size: 1.2rem;
    border: 2px solid var(--main-color);
    padding: 5px 10px;
    border-radius: 5px;
}

.menu a:hover {
    background-color: var(--main-color);
    color: white;
}


/*intro*/
.intro {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-color: var(--main-color);
}

.intro h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.intro p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.resorknapp {
    color: white;
    background-color: black;
    padding: 10px 20px;
    border-radius: 5px;
}

.resorknapp:hover {
    background-color: #333;
}

/* Resmål */
.resmål {
    padding: 2rem;
    text-align: center;
    background-color: #f4f4f4;
}

.resmål h2{
    color: var(--main-color);
    font-size: 2rem;
}

.resmål-container {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}

.resmål-item {
    max-width: 250px;
    text-align: center;
}

.resmål-bild {
    width: 250px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}



/* Varför*/
.varfor {
    padding: 2rem;
    text-align: center;
}

.varfor-container {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}

.varfor-item {
    max-width: 200px;
    background-color: var(--main-color);
    color: white;
    padding: 1rem;
    border-radius: 10px;
}